.wrapperDocumento{
    display: flex;
    justify-content: center;
}

.wrapperRelations{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boton-circular {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 20px;
  }

.tablaFinal{
    margin-top: 30%;
    display: flex;
    justify-content: center;
}

.bigimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.documents{
    border-width: 10px;
    border-color: black;
    background: white;
    float: left;
    width: 600px;
    height: 400px;
    margin: 20px auto; 
    overflow: auto;   
}

.inicio{
    background: #fff;
    padding: 40 px;
    width: 600px;
    height: 500px;
    margin: 20px auto;    
}

.documentoXML{
    background: #fff;
    padding: 40 px;
    width: 500px;
    height: 450px;
    margin: 20px auto;
    text-align: justify;
    overflow: auto;
    float: left;
}

.mermaid{
    display: flex;
    justify-content: center;
    align-items: center;
}

.columna-botones{
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table, th, td {
    border: 1px solid;
}

.columna-texto {
    margin-left: 20px; /* ajusta este valor para agregar un espacio entre las columnas */
    text-align: center;
}

.celda{
    background: #d8d2d2;
    width: 350px;
    height: 120px;
    border-style: solid;
    margin: 5px;
    overflow:scroll;
    text-align: center;
}

.titulo{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(240, 237, 237, 0.726);
    border-style: double;
}

.tituloR{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(240, 237, 237, 0.726);
    border-style: double;
}

.relaciones{
    background: #d8d2d2;
    width: 350px;
    height: 520px;
    border-style: solid;
    margin: 10px;
    overflow:scroll;
}

.izq{
    float: left;
}

.wrappButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ah{
    background: #d8d2d2;
    width: 600px;
    height: 500px;
    border-style: solid;
    overflow:scroll;
    grid-column: 1fr;
}

