<?xml version="1.0" encoding="UTF-8"?>
<document>
    <numExercises>2</numExercises>
    <exercise id="1">
        <title>Ejercicio1</title>
        <url>https://raw.githubusercontent.com/Vasapg/PIE-SCORM/main/Self-Assesment-5/ejercicios/ex2.xml</url>
    </exercise>
    <exercise id="2">
        <title>Ejercicio2</title>
        <url>https://raw.githubusercontent.com/Vasapg/PIE-SCORM/main/Self-Assesment-5/ejercicios/ex1.xml</url>
    </exercise>
</document>